<!DOCTYPE html>
<html>
  <head>
    <title>Home - EU/UN Sanction List</title>
    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    
    
        <link href="/admin/static/bootstrap/bootstrap3/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
        <link href="/admin/static/bootstrap/bootstrap3/css/bootstrap-theme.min.css?v=3.3.5" rel="stylesheet">
        <link href="/admin/static/admin/css/bootstrap3/admin.css?v=1.1.1" rel="stylesheet">
        <style>
        body {
            padding-top: 4px;
        }
        </style>
    
    
    
    
    
  </head>
  <body>
    
    <div class="container">
    <h1>Financial Sanctions Lists</h1>
    <div class="alert alert-danger" role="alert">
    ERROR 400: {{msg}}
    </div>


    Return to the <a href="/">main page</a> or <a href="/admin">admin</a>.

  </div>

    
  </body>
</html>