<!DOCTYPE html>
<html>
  <head>
    <title>Home - EU/UN Sanction List</title>
    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    
    
        <link href="/admin/static/bootstrap/bootstrap3/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
        <link href="/admin/static/bootstrap/bootstrap3/css/bootstrap-theme.min.css?v=3.3.5" rel="stylesheet">
        <link href="/admin/static/admin/css/bootstrap3/admin.css?v=1.1.1" rel="stylesheet">
        <style>
        body {
            padding-top: 4px;
        }
        </style>
    
    
    
    
    
  </head>
  <body>
    
    <div class="container">

        <!--
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="#">EU/UN Sanction List</a>
          
        </div>
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
          
          <ul class="nav navbar-nav">
            
  
        <li class="active">
          <a href="/admin/">Home</a>
        </li>
        <li>
          <a href="/admin/entity/">Entity</a>
        </li>

          </ul>
          

          
          <ul class="nav navbar-nav navbar-right">
            
  
  

          </ul>
          
          
          
        </div>
      </nav>
      -->
      
    <h1>Financial Sanctions Lists</h1>  
    <h4>Search the lists using Levenshtein distance to the name or id</h4>
  
    <!-- search form -->
    <p>
    <br/>
    <form action='/search' method="post"  class="form-horizontal">

     <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="id_name" name="inputName" placeholder="Name" width="80" maxlength="80">
          <p class="help-block">First name and last names.</p>
        </div>
      </div>

      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Passport</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="id_password" name="inputPassword" placeholder="Password" width="30" maxlength="30">
          <p class="help-block">Enter some id number.</p>
        </div>
      </div>

      <div class="form-group">
        <label for="inputDistance" class="col-sm-2 control-label">Similarity</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="id_distance" name="inputDistance" placeholder="Distance" min="0" max="100" value="80">
          <p class="help-block">Enter the % of similarity.</p>
        </div>
      </div>



      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>

    </form>
    </p>


    <!-- resulting list -->
    <p>
    {%if execution_time %}
        Results for {{query_name}} with {{similarity}}% of similarity. ({{execution_time}})<br/>
    {% endif %}    
    </p>
    <p>View <a href="">all results</a></p>

    <p>
    {% for idx, word, distance in score %}
        <li>{{idx}} {{word}} ({{distance}}%)</li>
    {% endfor %}
    </p>

    <p>
    or go to <a href="/admin/entity">the administrator panel</a>. The administrator uses regular search, not the Levenshtein distance.
    </p>

    <p>
    <small>
    Please provide name or password. If both are provided only name will be used.
    </small>
    </p>
    


    </div>
    

    
    <script src="/admin/static/vendor/jquery.min.js?v=2.1.4" type="text/javascript"></script>
    <script src="/admin/static/bootstrap/bootstrap3/js/bootstrap.min.js?v=3.3.5" type="text/javascript"></script>
    <script src="/admin/static/vendor/moment.min.js?v=2.9.0" type="text/javascript"></script>
    <script src="/admin/static/vendor/select2/select2.min.js?v=3.5.2" type="text/javascript"></script>
    
    <script type="text/javascript">
        $('#id_name').focus()
    </script>
    
    
  </body>
</html>